# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Tests and coverage
/coverage

# Next.js
/.next/
/out/
/build

# Environment secrets (keep the example template in Git)
.env*
!.env.example

# Vercel
.vercel

# Miscellaneous
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
